---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "The Embedded Frontier: AUP-ZU3 Field Notes";
---

<BaseLayout pageTitle={pageTitle}>
	<img 
	src="https://www.realdigital.org/img/bb333648a727ad749067e8cc2ab51f6c.png"
	alt="AUP-ZU3 development board close-up"
	style="width: 60%; max-width: 600px; height: auto;" 
	/>
	<h2>Field notes from a curious mind learning the AUP-ZU3.</h2>

	<h2>What the AUP-ZU3 has to offer</h2>
</BaseLayout>