---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Adaptive Computuing Field Notes";
import { basePath } from "../config";
---

<BaseLayout>
	<div style="text-align: center;">
		<img 
			src={`${basePath}assets/ACFN.png`}
			alt="AUP-ZU3 development board close-up"
			style="width: 60%; max-width: 200px; height: auto;" 
		/>
	</div>
	<h1>The Embedded Frontier:</h1>
	<h2>Field notes from a curious mind navigating adaptive computing.</h2>
	<p>
		Hello world! Join us as we explore and document our adventures with
		hardware projects! This blog is part lab journal, part guide, and part
		curiosity for anyone intrested in hardware, FPGA design, and tinkering
		within code and circuits.
	</p>

</BaseLayout>
