---
import BaseLayout from '../layouts/BaseLayout.astro';
import { basePath } from "../config";
---
<BaseLayout>
	<div style="text-align: center;">
		<img 
		  src={`${basePath}assets/Profile_-_Charles_Muntz.webp`}
		  alt="picture of Charles Muntz"
		  style="width: 982; height: auto;" 
	    />
	</div>
	
</BaseLayout>
