---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header class="site-header">
  <div class="header-controls">
    <ThemeIcon />
    <Hamburger />
  </div>

  <div class="header-main">
    <a href="/">
        <img src="/assets/ACFNImg.png" alt="Adaptive Computing Field Notes" class="site-logo" />
    </a>
    <Navigation />
  </div>
</header>
