---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
    <nav>
        <Hamburger />
        <ThemeIcon />
        <header class="site-header">
            <a href="/">
                <img src="/assets/ACFN.png" alt="Adaptive Computing Field Notes" class="site-logo" />
            </a>
        <Navigation />
    </nav>
</header>