---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: #1d1501;
    background-color: #354e3d;
    text-decoration: none;
  }
  a:visited {
    color: #ebe1ca;
  }
  .dark a {
    color: #ebe1ca;
  }

  .dark a:visited {
    color: #ebe1ca;
  }
</style>