---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a {
    padding: 0.5rem 1rem;
    color: #ebe1ca;
    background-color: #354e3d;
    text-decoration: none;
  }
</style>